<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040879822640-von4ktj6e41p905ppq80uocg2ip9bnch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040879822640-von4ktj6e41p905ppq80uocg2ip9bnch</string>
	<key>API_KEY</key>
	<string>AIzaSyBQa57rc8MDs9OBlLPKqdE9T3vBOrd3aEU</string>
	<key>GCM_SENDER_ID</key>
	<string>1040879822640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sharenotes</string>
	<key>PROJECT_ID</key>
	<string>sharenotes</string>
	<key>STORAGE_BUCKET</key>
	<string>sharenotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040879822640:ios:c82a966cf4ce67c14c4af5</string>
</dict>
</plist>